<%- include('../partials/header') %>
    <div class="container">
        <table class="table table-bordered" id="stats_table">
            <tr>
                <th class="align-bottom" rowspan="2">Name</th>
                <th class="align-bottom" rowspan="2">Username</th>
                <th class="align-bottom" rowspan="2">Earnings</th>
                <th class="align-bottom" rowspan="2">Rank</th>
            </tr>
            <tr>
            </tr>
            <% 
            if (data) { 
                var mergedArray = [];
                for (let i = 0; i < data[0].length; i++) {
                    if(data[0][i].user_id == data[1][i].user_id) {
                        var merged = {...data[0][i], ...data[1][i]};
                        mergedArray.push(merged);
                    }
                }
                var sortedMergedArray = [...mergedArray].sort((a, b) => (a.bal_rank > b.bal_rank) ? 1 : -1);
                var rowData ='' ; 
                sortedMergedArray.forEach(function(item) { 
                    rowData += '<tr>';
                    rowData += '<td>' + item.name + '</td>'; 
                    rowData += '<td>' + item.user_name + '</td>';
                    rowData += '<td>' + item.earnings + '</td>';
                    rowData += '<td>' + item.bal_rank + '</td>';
                    rowData += '</tr>';
                }); %>
                <%- rowData %>
            <% } %>
        </table>
    </div>
